=begin
#DHL eCommerce Solutions Americas API

### `VERSION 4.0` ![Alt](https://www.dhl.com/img/meta/dhl_logo.gif \"DHL eCommerce logo\")    Last updated: 04-AUG-2020       #### This site is a complete reference for DHL eCommerce Solutions Americas (Version 4) API, and also includes a free, ready-to-use Postman collection to get started quickly.  > The simplified overview for these APIs is located in our group-wide Developer Portal located [here](https://developer.dhl.com/api-reference/dhl-ecommerce-solutions-americas#get-started-section/get-started).   ***    ## Overview The **DHL ECOMMERCE SOLUTIONS AMERICAS API** is your one stop solution to get shipping products, calculating duty and tax, generating shipping labels, manifesting packages, requesting shipment pickup, tracking packages and generating return labels.     ![Overview image](https://i.ibb.co/4PNNzF3/Overviewupload3.png \"Overview\")      ***    #### The API can be used for:   * Only DHLeC packages originating within United States and Canada * Domestic and international packages * All DHL eCommerce Solutions Americas shipping products  This documentation provides detailed information about the API structure and its use. You can also go directly to the following topics:  * [Product Finder API](https://api.dhlecs.com/docs/products)  * [Duty and Tax Calculator (DTC) API](https://api.dhlecs.com/docs/dtc)  * [Label API](https://api.dhlecs.com/docs/label)  * [Manifest API](https://api.dhlecs.com/docs/manifest)  * [Tracking API](https://api.dhlecs.com/docs/tracking)   * [Transportation API](https://api.dhlecs.com/docs/transportation)  * [API References](https://api.dhlecs.com/docs/references)  * [API Error Reference](https://api.dhlecs.com/docs/errors)  Also, information about each error code can be directly referenced by appending the error code to the following URL. For example -    `https://api.dhlecs.com/docs/errors/400.0204003`     The same error URLs are also returned in the APIs when there is an error response. This allows clients to quickly get detailed information on each type of error.    ***  #### Using the API The API has been designed for use by developers. You will need basic knowledge of REST APIs, JSON and HTTPS. Also, your organization must to have a customer account with DHL eCommerce Solutions Americas.  ***  #### Example Use Cases Simply Integrate in your existing website / solution  Easy integration into any eCommerce platform such as your Order Management System, Transportation Management System or an eCommerce website.  Merchants can use the API to get access to DHL Ecommerce Americas portfolio solution  Third Party Vendors (3PVs) and shipping aggregators can use the API to provide their customers with access to DHL ECommerce shipping solutions.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module DhlEcommerceClient
  class DownloadManifestSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Manifest(s)
    # #### Use this request to download the manifest for a request that was submitted previously. > Here's the identifier used to retrieve a manifest  * `requestId`  The error object in the manifestSummary can have the following errors- ~~~~ 001  Package not found 002  Package already manifested 003  Internal package manifest error 004 Internal System error >> this means the background process failed while trying to add and manifest a package with downstream systems. The package may or may not have been manifested in the downstream system. ~~~~
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization  (default to Bearer {token})
    # @return [GetmanifestsCOMPLETEDStatus]
    def manifest_s(opts = {})
      data, _status_code, _headers = manifest_s_with_http_info(opts)
      data
    end

    # Manifest(s)
    # #### Use this request to download the manifest for a request that was submitted previously. &gt; Here&#39;s the identifier used to retrieve a manifest  * &#x60;requestId&#x60;  The error object in the manifestSummary can have the following errors- ~~~~ 001  Package not found 002  Package already manifested 003  Internal package manifest error 004 Internal System error &gt;&gt; this means the background process failed while trying to add and manifest a package with downstream systems. The package may or may not have been manifested in the downstream system. ~~~~
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization
    # @return [Array<(GetmanifestsCOMPLETEDStatus, Fixnum, Hash)>] GetmanifestsCOMPLETEDStatus data, response status code and response headers
    def manifest_s_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DownloadManifestSApi.manifest_s ...'
      end
      # resource path
      local_var_path = '/shipping/v4/manifest/5351244/9d339e8b-b746-4cf9-bc2a-609ed4603c20'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GetmanifestsCOMPLETEDStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DownloadManifestSApi#manifest_s\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
